@charset "utf-8";
<style type="text/css">

	
    #wrapper .img-rounded.img-responsive.banner {
}
    .banner {
	padding-top: 0px;
	padding-right: auto;
	padding-bottom: 0px;
	padding-left: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
	
	.main {
	background-color: #322B24;
}
</style>
	.image-fill {
}
        </style>
#wrapper .div {
}
#wrapper .div {
	width: 950px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}
